Node-red/flows.json
[
    {
        "id": "1652cd294e093cba",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1132caf7d88c7a2b",
        "type": "ui_gauge",
        "z": "1652cd294e093cba",
        "name": "",
        "group": "5946c25b552b50ef",
        "order": 5,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Potassium (K)",
        "label": "mg/L",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ff9500",
            "#b75901",
            "#5c2900"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1060,
        "y": 1900,
        "wires": [],
        "icon": "node-red/status.svg"
    },
    {
        "id": "95126a19f8fe928a",
        "type": "ui_slider",
        "z": "1652cd294e093cba",
        "name": "",
        "label": "Temp",
        "tooltip": "",
        "group": "5946c25b552b50ef",
        "order": 10,
        "width": 3,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": "1",
        "className": "",
        "x": 250,
        "y": 1640,
        "wires": [
            [
                "afc36bb5ec0f5bf7",
                "b5745713b4283bb9",
                "c656976b433e9466",
                "21cf0ddf18249e55"
            ]
        ]
    },
    {
        "id": "afc36bb5ec0f5bf7",
        "type": "debug",
        "z": "1652cd294e093cba",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 1420,
        "wires": []
    },
    {
        "id": "290bbe6785146250",
        "type": "mqtt in",
        "z": "1652cd294e093cba",
        "name": "",
        "topic": "mtet/JC/temp",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "a4596c5d512ad893",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 790,
        "y": 1640,
        "wires": [
            [
                "ef1b3b744e1fdc83",
                "a701dac41fa3b618"
            ]
        ]
    },
    {
        "id": "b5745713b4283bb9",
        "type": "mqtt out",
        "z": "1652cd294e093cba",
        "name": "",
        "topic": "mtet/JC/temp",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a4596c5d512ad893",
        "x": 610,
        "y": 1640,
        "wires": []
    },
    {
        "id": "3411bf76487b7a27",
        "type": "ui_slider",
        "z": "1652cd294e093cba",
        "name": "",
        "label": "CO2",
        "tooltip": "",
        "group": "5946c25b552b50ef",
        "order": 12,
        "width": 3,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 250,
        "y": 1700,
        "wires": [
            [
                "64f2bc2dbd329654",
                "4c55aac7dabdf8e6"
            ]
        ]
    },
    {
        "id": "64f2bc2dbd329654",
        "type": "mqtt out",
        "z": "1652cd294e093cba",
        "name": "",
        "topic": "mtet/JC/co2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a4596c5d512ad893",
        "x": 610,
        "y": 1700,
        "wires": []
    },
    {
        "id": "4efde5368a7407b2",
        "type": "mqtt out",
        "z": "1652cd294e093cba",
        "name": "",
        "topic": "mtet/JC/N",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a4596c5d512ad893",
        "x": 600,
        "y": 1760,
        "wires": []
    },
    {
        "id": "da2189434d594100",
        "type": "mqtt out",
        "z": "1652cd294e093cba",
        "name": "",
        "topic": "mtet/JC/K",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a4596c5d512ad893",
        "x": 600,
        "y": 1900,
        "wires": []
    },
    {
        "id": "c92827f2f6ca1210",
        "type": "ui_slider",
        "z": "1652cd294e093cba",
        "name": "",
        "label": "N",
        "tooltip": "",
        "group": "5946c25b552b50ef",
        "order": 14,
        "width": 3,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 250,
        "y": 1760,
        "wires": [
            [
                "4efde5368a7407b2",
                "cc654d014efa0a54"
            ]
        ]
    },
    {
        "id": "2c0abf6cca17451c",
        "type": "ui_slider",
        "z": "1652cd294e093cba",
        "name": "",
        "label": "P",
        "tooltip": "",
        "group": "5946c25b552b50ef",
        "order": 16,
        "width": 3,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 250,
        "y": 1820,
        "wires": [
            [
                "e8ba493b50ffb1d7",
                "448e51377419827c"
            ]
        ]
    },
    {
        "id": "e8ba493b50ffb1d7",
        "type": "mqtt out",
        "z": "1652cd294e093cba",
        "name": "",
        "topic": "mtet/JC/P",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a4596c5d512ad893",
        "x": 600,
        "y": 1820,
        "wires": []
    },
    {
        "id": "71f963a3f145b12c",
        "type": "ui_slider",
        "z": "1652cd294e093cba",
        "name": "",
        "label": "K",
        "tooltip": "",
        "group": "5946c25b552b50ef",
        "order": 18,
        "width": 3,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 250,
        "y": 1900,
        "wires": [
            [
                "da2189434d594100",
                "d8f9caaa9a6818ba"
            ]
        ]
    },
    {
        "id": "a701dac41fa3b618",
        "type": "ui_gauge",
        "z": "1652cd294e093cba",
        "name": "",
        "group": "5946c25b552b50ef",
        "order": 1,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Temperature",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ff8585",
            "#fe5d5d",
            "#d10034"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1030,
        "y": 1640,
        "wires": [],
        "icon": "node-red/status.svg"
    },
    {
        "id": "b10fedbb9229a2de",
        "type": "ui_gauge",
        "z": "1652cd294e093cba",
        "name": "",
        "group": "5946c25b552b50ef",
        "order": 3,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Nitrogen (N)",
        "label": "mg/L",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#03d3e2",
            "#0491b4",
            "#035772"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1050,
        "y": 1760,
        "wires": [],
        "icon": "node-red/status.svg"
    },
    {
        "id": "8254c24f73e06e82",
        "type": "ui_gauge",
        "z": "1652cd294e093cba",
        "name": "",
        "group": "5946c25b552b50ef",
        "order": 4,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Phosphorus (P)",
        "label": "mg/L",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#eeff00",
            "#f5e000",
            "#ffa200"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1060,
        "y": 1820,
        "wires": [],
        "icon": "node-red/status.svg"
    },
    {
        "id": "78243077b7c5bc6f",
        "type": "ui_gauge",
        "z": "1652cd294e093cba",
        "name": "",
        "group": "5946c25b552b50ef",
        "order": 2,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Carbon dioxide",
        "label": "kg/m3",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ef9eff",
            "#d637e1",
            "#990094"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1060,
        "y": 1700,
        "wires": [],
        "icon": "node-red/status.svg"
    },
    {
        "id": "ef1b3b744e1fdc83",
        "type": "debug",
        "z": "1652cd294e093cba",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 1480,
        "wires": []
    },
    {
        "id": "bf3641d4d9c4b849",
        "type": "mqtt in",
        "z": "1652cd294e093cba",
        "name": "",
        "topic": "mtet/JC/co2",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "a4596c5d512ad893",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 790,
        "y": 1700,
        "wires": [
            [
                "78243077b7c5bc6f"
            ]
        ]
    },
    {
        "id": "142915a9dc142bdc",
        "type": "mqtt in",
        "z": "1652cd294e093cba",
        "name": "",
        "topic": "mtet/JC/N",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "a4596c5d512ad893",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 780,
        "y": 1760,
        "wires": [
            [
                "b10fedbb9229a2de"
            ]
        ]
    },
    {
        "id": "b265cd3a34c02a29",
        "type": "mqtt in",
        "z": "1652cd294e093cba",
        "name": "",
        "topic": "mtet/JC/P",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "a4596c5d512ad893",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 780,
        "y": 1820,
        "wires": [
            [
                "8254c24f73e06e82"
            ]
        ]
    },
    {
        "id": "e331b96c68c1ef47",
        "type": "mqtt in",
        "z": "1652cd294e093cba",
        "name": "",
        "topic": "mtet/JC/K",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "a4596c5d512ad893",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 780,
        "y": 1900,
        "wires": [
            [
                "1132caf7d88c7a2b"
            ]
        ]
    },
    {
        "id": "d6345e409762fc93",
        "type": "ui_button",
        "z": "1652cd294e093cba",
        "name": "",
        "group": "5946c25b552b50ef",
        "order": 22,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "LIGHT",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{payload}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 590,
        "y": 1980,
        "wires": [
            []
        ]
    },
    {
        "id": "dc0928466558cf63",
        "type": "function",
        "z": "1652cd294e093cba",
        "name": "function 1",
        "func": "var switchState = msg.payload;  // รับค่าจากสวิตช์ (เช่น \"on\" หรือ \"off\")\n\nif (switchState === \"on\") {\n    msg.payload = \"#9DFF00\";  // ถ้าค่าสวิตช์เป็น \"on\"\n} else if (switchState === \"off\") {\n    msg.payload = \"#283300\";  // ถ้าค่าสวิตช์เป็น \"off\"\n}\nelse{\n    msg.payload = \"gray\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 2040,
        "wires": [
            [
                "d6345e409762fc93"
            ]
        ]
    },
    {
        "id": "23ae9b2b91bdd34d",
        "type": "ui_button",
        "z": "1652cd294e093cba",
        "name": "",
        "group": "5946c25b552b50ef",
        "order": 27,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "gray",
        "className": "",
        "icon": "",
        "payload": "on",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 2000,
        "wires": [
            [
                "dc0928466558cf63"
            ]
        ]
    },
    {
        "id": "48985dd34a205d8a",
        "type": "ui_button",
        "z": "1652cd294e093cba",
        "name": "",
        "group": "5946c25b552b50ef",
        "order": 28,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "gray",
        "className": "",
        "icon": "",
        "payload": "off",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 2080,
        "wires": [
            [
                "dc0928466558cf63"
            ]
        ]
    },
    {
        "id": "45f9e5c7937d9b2c",
        "type": "ui_button",
        "z": "1652cd294e093cba",
        "name": "",
        "group": "5946c25b552b50ef",
        "order": 24,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "FILLTER",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{payload}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1180,
        "y": 2000,
        "wires": [
            []
        ]
    },
    {
        "id": "22f86349d0e1351c",
        "type": "function",
        "z": "1652cd294e093cba",
        "name": "function 2",
        "func": "var switchState = msg.payload;  // รับค่าจากสวิตช์ (เช่น \"on\" หรือ \"off\")\n\nif (switchState === \"on\") {\n    msg.payload = \"#00FFC3\";  // ถ้าค่าสวิตช์เป็น \"on\"\n} else if (switchState === \"off\") {\n    msg.payload = \"#01281E\";  // ถ้าค่าสวิตช์เป็น \"off\"\n}\nelse{\n    msg.payload = \"gray\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 2040,
        "wires": [
            [
                "45f9e5c7937d9b2c"
            ]
        ]
    },
    {
        "id": "a48ac53f3f5fead2",
        "type": "ui_button",
        "z": "1652cd294e093cba",
        "name": "",
        "group": "5946c25b552b50ef",
        "order": 30,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "gray",
        "className": "",
        "icon": "",
        "payload": "on",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 810,
        "y": 2000,
        "wires": [
            [
                "22f86349d0e1351c"
            ]
        ]
    },
    {
        "id": "2e87b38f37c4526f",
        "type": "ui_button",
        "z": "1652cd294e093cba",
        "name": "",
        "group": "5946c25b552b50ef",
        "order": 31,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "gray",
        "className": "",
        "icon": "",
        "payload": "off",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 810,
        "y": 2080,
        "wires": [
            [
                "22f86349d0e1351c"
            ]
        ]
    },
    {
        "id": "0ab2b7a93d2a5619",
        "type": "ui_button",
        "z": "1652cd294e093cba",
        "name": "",
        "group": "5946c25b552b50ef",
        "order": 20,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "COOLER",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{payload}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 640,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "c656976b433e9466",
        "type": "function",
        "z": "1652cd294e093cba",
        "name": "function 3",
        "func": "var temp = parseInt(msg.payload) ; // รับค่าจากสวิตช์ (เช่น \"on\" หรือ \"off\")\n\nif (temp >= 30) {\n    msg.payload = \"#23D7FF\";  // ถ้าค่าสวิตช์เป็น \"on\"\n}\nelse if (temp < 30){\n    msg.payload = \"#011D28\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 1520,
        "wires": [
            [
                "0ab2b7a93d2a5619"
            ]
        ]
    },
    {
        "id": "21cf0ddf18249e55",
        "type": "ui_text",
        "z": "1652cd294e093cba",
        "group": "5946c25b552b50ef",
        "order": 9,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "Temp",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 430,
        "y": 1600,
        "wires": []
    },
    {
        "id": "4c55aac7dabdf8e6",
        "type": "ui_text",
        "z": "1652cd294e093cba",
        "group": "5946c25b552b50ef",
        "order": 11,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "CO2",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 410,
        "y": 1660,
        "wires": []
    },
    {
        "id": "cc654d014efa0a54",
        "type": "ui_text",
        "z": "1652cd294e093cba",
        "group": "5946c25b552b50ef",
        "order": 13,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "N",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 410,
        "y": 1740,
        "wires": []
    },
    {
        "id": "448e51377419827c",
        "type": "ui_text",
        "z": "1652cd294e093cba",
        "group": "5946c25b552b50ef",
        "order": 15,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "P",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 410,
        "y": 1800,
        "wires": []
    },
    {
        "id": "d8f9caaa9a6818ba",
        "type": "ui_text",
        "z": "1652cd294e093cba",
        "group": "5946c25b552b50ef",
        "order": 17,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "K",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 430,
        "y": 1880,
        "wires": []
    },
    {
        "id": "6f98923d0861792c",
        "type": "ui_spacer",
        "z": "1652cd294e093cba",
        "name": "spacer",
        "group": "5946c25b552b50ef",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "9943671bcebf4fff",
        "type": "ui_spacer",
        "z": "1652cd294e093cba",
        "name": "spacer",
        "group": "5946c25b552b50ef",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "d7e7b73cd32b4534",
        "type": "ui_spacer",
        "z": "1652cd294e093cba",
        "name": "spacer",
        "group": "5946c25b552b50ef",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "ae82ee0e962ad0a6",
        "type": "ui_spacer",
        "z": "1652cd294e093cba",
        "name": "spacer",
        "group": "5946c25b552b50ef",
        "order": 19,
        "width": 2,
        "height": 1
    },
    {
        "id": "0f582d11ec26f72a",
        "type": "ui_spacer",
        "z": "1652cd294e093cba",
        "name": "spacer",
        "group": "5946c25b552b50ef",
        "order": 21,
        "width": 1,
        "height": 1
    },
    {
        "id": "ae811b83e57024ea",
        "type": "ui_spacer",
        "z": "1652cd294e093cba",
        "name": "spacer",
        "group": "5946c25b552b50ef",
        "order": 23,
        "width": 2,
        "height": 1
    },
    {
        "id": "754f714c63050f8d",
        "type": "ui_spacer",
        "z": "1652cd294e093cba",
        "name": "spacer",
        "group": "5946c25b552b50ef",
        "order": 25,
        "width": 2,
        "height": 1
    },
    {
        "id": "cd2717057639a8b7",
        "type": "ui_spacer",
        "z": "1652cd294e093cba",
        "name": "spacer",
        "group": "5946c25b552b50ef",
        "order": 26,
        "width": 6,
        "height": 1
    },
    {
        "id": "1b0814a8e73889b6",
        "type": "ui_spacer",
        "z": "1652cd294e093cba",
        "name": "spacer",
        "group": "5946c25b552b50ef",
        "order": 29,
        "width": 2,
        "height": 1
    },
    {
        "id": "fef4b92163d1481a",
        "type": "ui_spacer",
        "z": "1652cd294e093cba",
        "name": "spacer",
        "group": "5946c25b552b50ef",
        "order": 32,
        "width": 2,
        "height": 1
    },
    {
        "id": "5946c25b552b50ef",
        "type": "ui_group",
        "name": "Jc",
        "tab": "f704eef92be18850",
        "order": 1,
        "disp": true,
        "width": 22,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a4596c5d512ad893",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f704eef92be18850",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]